In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

1.4.4

In [22]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [24]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [31]:
# mask = df.sex == 'Male'
# new = df[mask].age
# new.mean()
df[df.sex == 'Male'].age.mean()

39.43354749885268

In [39]:
df[df.education == 'Bachelors'].education.count() / df.education.count() * 100

16.44605509658794

In [45]:
df[((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')) & (df.salary == '>50K')].education.count() / df[(df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')].education.count() * 100

46.535843011613935

In [46]:
lower_education = df[((df.education != 'Bachelors') & (df.education != 'Masters') & (df.education != 'Doctorate')) & (df.salary == '>50K')].education.count() / df[(df.education != 'Bachelors') & (df.education != 'Masters') & (df.education != 'Doctorate')].education.count() * 100
lower_education
#     higher_education = df[((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')) & (df.salary == '>50K')].education.count() / df[(df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')].education.count() * 100
#     lower_education = df[((df.education != 'Bachelors') & (df.education != 'Masters') & (df.education != 'Doctorate')) & (df.salary == '>50K')].education.count() / df[(df.education != 'Bachelors') & (df.education != 'Masters') & (df.education != 'Doctorate')].education.count() * 100

17.3713601914639

In [58]:
mask = (df['hours-per-week'] == 1) & (df.salary == '>50K')
df[mask].education.count() / df[(df['hours-per-week'] == 1)].education.count() * 100

10.0

In [32]:
mask = uber_data['review_rating'] == uber_data['review_rating'].min()
uber_data[mask]

,index,city,state,zipcode,address,loc_name,loc_number,url,promotion,latitude,longitude,is_open,closed_message,delivery_fee,delivery_time,review_count,review_rating,price_bucket,scan_date,TID
424,424,Bessemer,AL,35022,"5000 Bond Blvd, Bessemer, AL 35022",Leo's Italian Kitchen (5000 Bond Blvd),26bcbf8f-5724-5f88-a721-dd879ee20974,https://www.ubereats.com/store/leos-italian-ki...,NaN,33.3329,-86.99248,False,Opens at 10:30 AM,NaN,NaN,13.0,2.9,$$,2022-11-09 18:03:43,425

In [68]:

df[df.salary == '>50K']['native-country'].value_counts().idxmax()
df[(df.salary == '>50K') & (df['native-country'] == 'United-States')].salary.count() / df[df.salary == '>50K'].salary.count() * 100

91.45517153424308

In [102]:
df[(df['native-country'] == 'India') & (df.salary == '>50K')].occupation.value_counts().idxmax()

'Prof-specialty'

In [99]:
new = df[df.salary == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()
new.max()

0.4186046511627907

In [93]:
new = df[df.salary == '>50K']['native-country'].value_counts().to_frame()
new['pop'] = df['native-country'].value_counts()
new['%'] = (new['native-country'] / new['pop'])
new

                    native-country    pop         %
United-States                 7171  29170  0.245835
?                              146    583  0.250429
Philippines                     61    198  0.308081
Germany                         44    137  0.321168
India                           40    100  0.400000
Canada                          39    121  0.322314
Mexico                          33    643  0.051322
England                         30     90  0.333333
Italy                           25     73  0.342466
Cuba                            25     95  0.263158
Japan                           24     62  0.387097
Taiwan                          20     51  0.392157
China                           20     75  0.266667
Iran                            18     43  0.418605
South                           16     80  0.200000
Puerto-Rico                     12    114  0.105263
Poland                          12     60  0.200000
France                          12     29  0.413793
Jamaica                         10     81  0.123457
El-Salvador                      9    106  0.084906
Greece                           8     29  0.275862
Cambodia                         7     19  0.368421
Hong                             6     20  0.300000
Yugoslavia                       6     16  0.375000
Ireland                          5     24  0.208333
Vietnam                          5     67  0.074627
Portugal                         4     37  0.108108
Haiti                            4     44  0.090909
Ecuador                          4     28  0.142857
Thailand                         3     18  0.166667
Hungary                          3     13  0.230769
Guatemala                        3     64  0.046875
Scotland                         3     12  0.250000
Nicaragua                        2     34  0.058824
Trinadad&Tobago                  2     19  0.105263
Laos                             2     18  0.111111
Columbia                         2     59  0.033898
Dominican-Republic               2     70  0.028571
Peru                             2     31  0.064516
Honduras                         1     13  0.076923

In [34]:
uber_data.sort_values(by='index', ascending=False)

,index,city,state,zipcode,address,loc_name,loc_number,url,promotion,latitude,longitude,is_open,closed_message,delivery_fee,delivery_time,review_count,review_rating,price_bucket,scan_date,TID
999,999,Hoover,AL,35244,"1790 Riverchase Drive, Hoover, AL 35244",Panera (1790 Riverchase Drive ),535331d1-c64f-4ed5-9128-87cfb5f402c0,https://www.ubereats.com/store/panera-1790-riv...,NaN,33.373544,-86.809907,False,Available at 6:00 AM,NaN,NaN,54.0,4.7,$,2022-11-09 18:03:43,1000
998,998,Hoover,AL,35244,"3020 John Hawkins Pkwy, Hoover, AL 35244",Chick-fil-A (3020 John Hawkins Pkwy),22f33091-d538-46ce-af4b-2b5ed753d1fd,https://www.ubereats.com/store/chick-fil-a-302...,NaN,33.371720,-86.812815,False,Available at 6:00 AM,NaN,NaN,43.0,4.8,$,2022-11-09 18:03:43,999
997,997,Birmingham,AL,35205,"1024 20th Street South Unit 101, Birmingham, A...",Ministry Of Curry,d72b60c3-3e53-444e-87d7-957fd18d3469,https://www.ubereats.com/store/ministry-of-cur...,NaN,33.500900,-86.796900,False,Available at 11:00 AM,NaN,NaN,NaN,NaN,NaN,2022-11-09 18:03:43,998
996,996,3321 Lorna Rd Birmingham AL 35216,3321,Lorna,3321 Lorna Rd Birmingham AL 35216,"Veggie Mania (3321 Lorna Rd, Birmingham, AL 35...",fab0df13-6da0-5223-94d0-ed77210724ee,https://www.ubereats.com/store/veggie-mania-33...,NaN,33.393530,-86.796730,False,Opens at 11:00 AM,NaN,NaN,NaN,NaN,$,2022-11-09 18:03:43,997
995,995,Birmingham,AL,35209,"2101 Richard Arrington Jr Blvd S, Birmingham, ...",Walgreens (2101 Richard Arrington Jr Blvd S),9cbad917-b50b-48f6-9a27-8917ec4012a7,https://www.ubereats.com/store/walgreens-2101-...,NaN,33.488530,-86.792370,False,Available at 7:00 AM,NaN,NaN,12.0,4.3,$,2022-11-09 18:03:43,996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,Alexander City,AL,35010,"977 Jefferson St, Alexander City, AL 35010",The Station,9507eb1b-5afc-4ee1-a566-526d9e2ba2d0,https://www.ubereats.com/store/the-station/950...,NaN,32.956127,-85.944330,False,Opens at 11:00 AM,NaN,NaN,NaN,NaN,$,2022-11-09 18:03:43,5
3,3,Albertville,AL,35950,"7959 Us Hwy 431, Albertville, AL 35950",Taco Bell (7959 Us Highway 431),ef86513f-3973-4315-b938-bb6f230c5c58,https://www.ubereats.com/store/taco-bell-7959-...,"Spend $15, Save $5",34.280000,-86.217030,True,NaN,NaN,30–45 min,NaN,NaN,$,2022-11-09 18:03:43,4
2,2,Alexander City,AL,35010,"4097 Us Highway 280, Alexander City, AL 35010",MrBeast Burger (4097 US Highway 280),308b1654-60f1-51d4-bfe2-ed7c849442ac,https://www.ubereats.com/store/mrbeast-burger-...,NaN,32.923880,-85.959650,False,Opens at 11:00 AM,NaN,NaN,NaN,NaN,$$,2022-11-09 18:03:43,3
1,1,Albertville,AL,35951,"7300 Hwy 431 North, Albertville, AL 35951",Burger King (7300 Hwy 431 North),62a60773-5644-4d73-b969-a4922ce70fa6,https://www.ubereats.com/store/burger-king-730...,NaN,34.277260,-86.206110,True,NaN,NaN,15–30 min,NaN,NaN,$,2022-11-09 18:03:43,2
0,0,Alexander City,AL,35010,"4097 U S Highway 280, Alexander City, AL 35010",The Saucy Hen (4097 U. S. HIGHWAY 280),0623b7ac-598d-5016-bdd2-febb44d79b12,https://www.ubereats.com/store/the-saucy-hen-4...,NaN,32.923880,-85.959650,False,Opens at 11:00 AM,NaN,NaN,NaN,NaN,$$,2022-11-09 18:03:43,1